/* CSS Document */
/* line 2, style.scss */
body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; }

/* line 6, style.scss */
p {
  margin: 0;
  padding: 0; }

/* line 11, style.scss */
h2 {
  margin: 30px 0 10px 0;
  padding: 0; }

/* line 16, style.scss */
.code_block {
  width: 100%;
  padding: 20px;
  background: #ddd; }
