/* CSS Document */
/* line 2, style.scss */
body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #555; }

/* line 7, style.scss */
p {
  margin: 0;
  padding: 0; }

/* line 12, style.scss */
h2 {
  margin: 30px 0 10px 0;
  padding: 0;
  color: coral; }

/* line 19, style.scss */
.code_block {
  width: 100%;
  padding: 20px;
  background: #eee; }
