/* CSS Document */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #555;
}

p {
	margin:0;
	padding: 0;
}

h2{
	margin:30px 0 10px 0;
	padding: 0;
  color: coral;
}


.code_block{
  margin: 10px 0;
  width: 100%;
  padding: 10px 20px;
  background: #eee; 
}


